.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  color: #0C384E;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.form > button {
  color: white;
  background-color: #1B6B93;
  display: inline-block;
  text-decoration: none;
  padding: 16px 80px;
  border: none;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-top: 32px;
  font-size: 20px;
}
.form .validate {
  background: red;
}
.form .disabled {
  background-color: #DEECF2;
}