@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

.container{
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: flex;
  font-size: 21px;
  width: 1200px;
  border: #023246 solid 1px;
  border-radius: 16px;
  box-sizing: border-box;
  gap: 24px;
  .heart-wrapper{
    background-color: #fff;
    z-index: 2;
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heart{
    transition: 300ms;
    cursor: pointer;
    user-select: none;
    width: 32px;
    height: 32px;
  }
  .cardAvatar{
    box-sizing: border-box;
    width: 266px;
    // height: 266px;
    background: grey;
    border-radius: 16px;
  }
  .info{
    width: 100%;
    padding: 8px 8px 8px 0px;
    display: flex;
    justify-content: space-between;
    p{
      font-size: 16px;
      color: #023246;
      font-weight: 500;

    }
    h2{
      font-size: 24px;
      font-weight: 700;
      font-family: "Open Sans",sans-serif
    }

      .left{
        .description{
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 400;
          .summary{
            overflow-y: scroll;
            max-height: 49px;
          }
                    ::-webkit-scrollbar {
                      width: 0.5em;
                      height: 0.5em;
                    }
          
                    ::-webkit-scrollbar-thumb {
                      background-color: #888;
                    }
          
                    ::-webkit-scrollbar-thumb:hover {
                      background-color: #555;
                    }
          div {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
          }
          p{
            max-width: 610px;
            overflow-wrap: break-word;
            margin: 0;
            font-family: Open Sans;
            font-size: 16px;
            color: #023246;
            font-weight: 400;
          } 
          a{
            display: inline-block;
            text-decoration: none;
            color: #1B6B93;
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer
          } 
        }
          
        .full-name{
          color: #023246;
          margin-bottom: 20px;

        }
        .speciality{
          font-size: 20px;
          font-weight: 700;
          font-family: "Open Sans", sans-serif;
          margin-bottom: 20px;
          color: #1B6B93;
        }
        .education{
          margin-bottom: 15px;
          p{
            display: flex;
            align-items: center;
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            color: #023246;
            img{
              margin-right: 8px;
            }
          }
        }
        .mini-info{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;
          gap: 17px;
          flex-wrap: wrap;
          p,a{
            text-decoration: none;
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            color: #023246;
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }
      }
      .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .btn {
            background: #1B6B93;
            font-size: 16px;
            font-family: Open Sans;
            font-weight: 600;
            height: 76px;
            width: 240px;
            padding: 0 7px;
            border-radius: 8px;
            color: #FFFFFF;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
          }
        .rating{
          width: 236px;
          height: 132px;
          display: flex;
          text-align: center;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          p{
            font-size: 16px;
            color: #023246;
            font-weight: 500;
          }
          .stars{
            display: flex;
            gap: 7px;
          }
          .rate{
            font-size: 32px;
            font-weight: 700;
            color: #1B6B93;
          }
        }
        .amount{
          font-weight: bold;
          font-size: 20px;
          font-weight: 330;
          color: #023246;
          width: 190px;
          height: 135px;
          background: #DEECF2;
          text-align: center;
          border-radius: 10px;
          h2{
            font-size: 32px;
          }
        }
      }
    
  }
    

}

