@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
.container {
  font-family: "Open Sans", sans-serif;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 21px;
  width: 1200px;
  height: 266px;
  border: #023246 solid 1px;
  border-radius: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  gap: 24px;
}
.container .heart-wrapper {
  background-color: #fff;
  z-index: 2;
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .heart {
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 32px;
  height: 32px;
}
.container .cardAvatar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 266px;
  height: 264px;
  background: grey;
  border-radius: 16px;
}
.container a {
  width: 100%;
}
.container .info {
  width: 100%;
  padding: 8px 8px 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.container .info p {
  font-size: 16px;
  color: #023246;
  font-weight: 500;
}
.container .info h1 {
  font-size: 24px;
  font-weight: 700;
}
.container .info .left .full-name {
  color: #023246;
  height: 24px;
  margin-bottom: 20px;
}
.container .info .left .speciality {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #1B6B93;
}
.container .info .left .education {
  margin-bottom: 15px;
}
.container .info .left .education p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .info .left .education p img {
  margin-right: 8px;
}
.container .info .left .mini-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  gap: 27px;
}
.container .info .left .mini-info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .info .left .mini-info p img {
  margin-right: 13px;
}
.container .info .left .mini-info .instagram {
  width: 24px;
}
.container .info .right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .info .right .btn {
  background: #1B6B93;
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 600;
  width: 240px;
  padding: 16px 7px;
  border-radius: 8px;
  color: #FFFFFF;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.container .info .right .rating {
  width: 236px;
  height: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .info .right .rating p {
  font-size: 16px;
  color: #023246;
  font-weight: 500;
}
.container .info .right .rating .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}
.container .info .right .rating .rate {
  font-size: 32px;
  font-weight: bold;
  color: #1B6B93;
}
.container .info .right .amount {
  font-weight: bold;
  font-size: 20px;
  font-weight: 330;
  color: #023246;
  width: 190px;
  height: 135px;
  background: #DEECF2;
  text-align: center;
  border-radius: 10px;
}
.container .info .right .amount h2 {
  font-size: 32px;
}