.selector {
  position: relative;
  margin-right: 20px;
}
.selector .selectTitle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.selector .selectTitle img {
  width: 24px;
  height: 24px;
}
.selector .selectBox {
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 193px;
  height: 84px;
  margin-top: 16px;
  background: #DEECF2;
  border-radius: 8px;
  color: #023246;
  font-weight: 500;
  -webkit-animation: 300ms show;
          animation: 300ms show;
}
.selector .selectBox .option {
  z-index: 3;
  padding: 10px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.selector .selectBox .option label {
  cursor: pointer;
}
.selector .selectBox .option label p {
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.selector .selectBox .option label .select, .selector .selectBox .option label:hover {
  color: #1B6B93;
}
.selector .selectBox hr {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border: 1px solid #023246;
}
.selector .selectBox hr img {
  margin: auto;
}
.selector .selectBox input {
  display: none;
}

.selects {
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 127px;
}

.none {
  display: none;
}