@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap')
.container
    width: 1200px
    margin: 0 auto
.inner
    display: flex
    justify-content: center
    flex-direction: column
    color: #023246
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    h1
        font-weight: 700
        font-size: 60px
        text-align: center
        span
            color: #1B6B93
    p
        display: inline-block
        width: 607px
        margin: 24px auto 84px auto
