.searchDoctor {
  height: 654px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  margin-bottom: 72px;
}

.container {
  width: 1200px;
}

.inner {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left {
  width: 615px;
  height: 246px;
}
.left h1 {
  font-size: 60px;
  line-height: 82px;
}

.right {
  width: 550px;
  height: 557.27px;
}

.right img {
  width: 550px;
  height: 550px;
}

.footer {
  margin-top: 40.73px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .selectLeft {
  display: block;
  position: absolute;
  right: 100px;
}
.footer select {
  padding-left: 24px;
  position: relative;
  width: 488px;
  height: 56px;
  font-size: 20px;
  color: #023246;
  border-radius: 6px;
  font-weight: 600;
  max-height: 100px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.footer select option {
  font-size: 20px;
  line-height: 23px;
}
.footer .btn {
  width: 183px;
  height: 56px;
  background: #1B6B93;
  border-radius: 8px;
  font-size: 20px;
  color: #FFFFFF;
  border: none;
}