@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
.container {
  width: 1200px;
  margin: 0 auto;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #023246;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.inner h1 {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
}
.inner h1 span {
  color: #1B6B93;
}
.inner p {
  display: inline-block;
  width: 607px;
  margin: 24px auto 84px auto;
}