.wrapper
    &>label
        position: relative
        cursor: pointer
        &>input
            cursor: pointer
            &::placeholder
                color: rgba(182, 182, 182, 1)
        &>img
            position: absolute
            right: 16px
            top: 6px
        .down
            transform: rotateX(180deg)
        .open
            border-radius: 8px 8px 0 0
            border-bottom: none
        &>.options
            cursor: pointer
            position: absolute
            list-style: none
            height: 102px
            width: 100%
            background-color: rgba(246, 246, 246, 1)
            padding-bottom: 5px
            border: 1px solid #B6B6B6
            z-index: 1
            display: flex
            flex-direction: column
            gap: 10px
            li
                padding-left: 24px
                &:hover
                    background-color: #1B6B93
                    color: #fff
