.infoAboutDoc
  margin: 40px 0
  .container
    margin: 0 auto
    width: 1280px
    .inner
      font-family: Open Sans
      font-size: 16px
      font-style: normal
      color: #023246
      font-weight: 400
      display: flex
      flex-wrap: wrap
      gap: 20px
      .education
        width: 600px
      h2
        font-family: Open Sans
        font-size: 24px
        font-style: normal
        font-weight: 700
        color: #023246
        margin-bottom: 25px
      .title
        display: flex
        gap: 11px
        .year
          font-family: Open Sans
          font-size: 16px
          font-style: normal
          font-weight: 600
        .text
          display: flex
          flex-direction: column
          gap: 5px
          &>span
            font-family: Open Sans
            font-size: 16px
            font-style: normal
            font-weight: 600
            color: #1B6B93
