.infoAboutDoc {
  margin: 40px 0;
}
.infoAboutDoc .container {
  margin: 0 auto;
  width: 1280px;
}
.infoAboutDoc .container .inner {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  color: #023246;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.infoAboutDoc .container .inner .education {
  width: 600px;
}
.infoAboutDoc .container .inner h2 {
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  color: #023246;
  margin-bottom: 25px;
}
.infoAboutDoc .container .inner .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
}
.infoAboutDoc .container .inner .title .year {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.infoAboutDoc .container .inner .title .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.infoAboutDoc .container .inner .title .text > span {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #1B6B93;
}