@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.wrapper {
  font-family: "Open Sans", sans-serif;
  background-color: #023246;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 3;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.inner, .logo > a, .nav, .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.inner a {
  text-decoration: none;
  color: white;
}

.links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 56px;
}
.links .active {
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.nav {
  gap: 94px;
}

.select_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 72px;
}
.select_login a {
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo span {
  font-family: "Anton", sans-serif;
  font-weight: 400;
}

.logo_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 137px;
}

.logo > a {
  gap: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}