.h2 {
  color: #023246;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  text-align: center;
  margin-bottom: 52px;
  margin-top: 119px;
}

.wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #DEECF2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wrapper .container {
  width: 1200px;
  margin: 0 auto;
}
.wrapper .inner {
  -webkit-column-count: 5;
     -moz-column-count: 5;
          column-count: 5;
}
.wrapper .inner h3 {
  color: #023246;
  font-family: "Open Sans", sans-serif;
  font-family: 700;
  font-size: 24px;
}
.wrapper .inner ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.wrapper .inner ul:not(:first-child) {
  margin-top: 16px;
}
.wrapper .inner ul a {
  text-decoration: none;
  cursor: pointer;
}
.wrapper .inner ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.wrapper .inner ul li span {
  color: #023246;
  font-family: "Open Sans", sans-serif;
  font-family: 700;
  font-size: 16px;
}
.wrapper .inner ul li .count {
  border: 1px solid #1B6B93;
  width: 40px;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
}