.topDoctors
  height: 210px
  font-family: "Open Sans", sans-serif
  margin: 70px auto 119px auto

  .container
    width: 1200px
    margin: 0 auto 64px
    .inner
      width: 100%
      h2
        text-align: center
        margin-bottom: 24px
        font-weight: 700
        font-size: 32px
        letter-spacing: 1px
        color: #023246
      .topIcons
        .icons
          display: flex
          justify-content: space-around
          align-items: center
          a:first-child
            img
              width: 72px
          a:nth-child(2)
            img
              width: 108px
          a:nth-child(3)
            img
              width: 135px
          a:nth-child(4)
            img
              width: 124px
          a:nth-child(5)
            img
              width: 67px
          a:nth-child(6)
            img
              width: 133px
          a:nth-child(7)
            img
              width: 62px
          a:nth-child(8)
            img
              width: 79px
.block
  width: 152px
  height: 161px
  text-align: center
  color: #1B6B93
  text-decoration: none
  cursor: pointer
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  &>div
    height: 134px
    display: flex
    justify-content: center
    align-items: center
