.topDoctors {
  height: 210px;
  font-family: "Open Sans", sans-serif;
  margin: 70px auto 119px auto;
}
.topDoctors .container {
  width: 1200px;
  margin: 0 auto 64px;
}
.topDoctors .container .inner {
  width: 100%;
}
.topDoctors .container .inner h2 {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 1px;
  color: #023246;
}
.topDoctors .container .inner .topIcons .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topDoctors .container .inner .topIcons .icons a:first-child img {
  width: 72px;
}
.topDoctors .container .inner .topIcons .icons a:nth-child(2) img {
  width: 108px;
}
.topDoctors .container .inner .topIcons .icons a:nth-child(3) img {
  width: 135px;
}
.topDoctors .container .inner .topIcons .icons a:nth-child(4) img {
  width: 124px;
}
.topDoctors .container .inner .topIcons .icons a:nth-child(5) img {
  width: 67px;
}
.topDoctors .container .inner .topIcons .icons a:nth-child(6) img {
  width: 133px;
}
.topDoctors .container .inner .topIcons .icons a:nth-child(7) img {
  width: 62px;
}
.topDoctors .container .inner .topIcons .icons a:nth-child(8) img {
  width: 79px;
}

.block {
  width: 152px;
  height: 161px;
  text-align: center;
  color: #1B6B93;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block > div {
  height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}