.CardClinic_inner
    font-family: 'Open Sans', sans-serif
    display: flex
    justify-content: space-between
    align-items: center
    border: 1px solid #1B6B93
    border-radius: 16px
    padding: 16px
    .CardClinic_title
        text-align: left
        padding-left: 40px
        padding-right: 42px
        h3
            padding-bottom: 16px
            font-weight: 700
            font-size: 24px
            line-height: 23px
            color: #023246
        p
            padding-bottom: 36px
            font-weight: 600
            font-size: 20px
            line-height: 23px
            color: #1B6B93
        .CardClinic_subtitle
            width: 483px
            font-weight: 400
            font-size: 16px
            line-height: 23px
            letter-spacing: 1px
            color: #023246
            span
                color: #1B6B93
    .CardClinic_information
        display: flex
        flex-direction: column
        .CardClinic_information_cards
            display: flex
            align-items: center
            padding-top: 19px
            width: 351px
            color: #023246
            &:first-child
                padding-top: 0
            span, p, a
                color: #023246
                padding-left: 19px
        .CardClinic_information_cardsTwo
            display: flex
            align-items: center
            p:last-child
        .information_cards_ul
            li
                list-style: none
                padding-left: 19px
                padding-bottom: 8px
                li:last-child
                    padding-bottom: 0px
                    line-height: 23px
                    letter-spacing: 1px
            .information_cards_li_strong
                font-weight: 700
                color: #023246
