.container {
  width: 1200px;
  margin: 0 auto;
}
.container .CardClinic_inner {
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #1B6B93;
  border-radius: 16px;
  padding: 16px;
  position: relative;
  gap: 35px;
}
.container .CardClinic_inner .CardClinic_logo {
  width: 200px;
}
.container .CardClinic_inner .CardClinic_logo img {
  border-radius: 12px;
  width: 100%;
}
.container .CardClinic_inner .heartWrapper {
  background-color: #fff;
  z-index: 2;
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
}
.container .CardClinic_inner .heart {
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 32px;
  height: 32px;
}
.container .CardClinic_inner > a {
  text-decoration: none;
}
.container .CardClinic_inner .CardClinic_title {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.container .CardClinic_inner .CardClinic_title a {
  text-decoration: none;
}
.container .CardClinic_inner .CardClinic_title h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
  color: #023246;
}
.container .CardClinic_inner .CardClinic_title p {
  margin: 16px 0 36px 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #1B6B93;
}
.container .CardClinic_inner .CardClinic_title .CardClinic_subtitle {
  width: 483px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 1px;
  color: #023246;
}
.container .CardClinic_inner .CardClinic_title .CardClinic_subtitle .summary {
  overflow-y: scroll;
  max-height: 49px;
}
.container .CardClinic_inner .CardClinic_title .CardClinic_subtitle .summary::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
.container .CardClinic_inner .CardClinic_title .CardClinic_subtitle .summary::-webkit-scrollbar-thumb {
  background-color: #888;
}
.container .CardClinic_inner .CardClinic_title .CardClinic_subtitle .summary::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.container .CardClinic_inner .CardClinic_title > p {
  font-family: Open Sans;
  font-size: 16px;
  color: #023246;
  font-weight: 400;
}
.container .CardClinic_inner .CardClinic_title > p > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}
.container .CardClinic_inner .CardClinic_title > p > div > p {
  max-width: 100%;
  overflow-wrap: break-word;
  margin: 0;
  font-family: Open Sans;
  font-size: 16px;
  color: #023246;
  font-weight: 400;
}
.container .CardClinic_inner .CardClinic_title > p > div > a {
  display: inline-block;
  text-decoration: none;
  color: #1B6B93;
  cursor: pointer;
}
.container .CardClinic_inner .CardClinic_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.container .CardClinic_inner .CardClinic_information .CardClinic_information_cards {
  gap: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 351px;
  color: #023246;
}
.container .CardClinic_inner .CardClinic_information .CardClinic_information_cards span, .container .CardClinic_inner .CardClinic_information .CardClinic_information_cards p, .container .CardClinic_inner .CardClinic_information .CardClinic_information_cards a {
  color: #023246;
}
.container .CardClinic_inner .CardClinic_information .CardClinic_information_cardsTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.container .CardClinic_inner .CardClinic_information .information_cards_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.container .CardClinic_inner .CardClinic_information .information_cards_ul li {
  list-style: none;
  text-transform: uppercase;
}
.container .CardClinic_inner .CardClinic_information .information_cards_ul li li:last-child {
  line-height: 23px;
  letter-spacing: 1px;
}
.container .CardClinic_inner .CardClinic_information .information_cards_ul .information_cards_li_strong {
  font-weight: 700;
  color: #023246;
}