.wrapper {
  margin-bottom: 36px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.container .CardClinic_inner {
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #1B6B93;
  border-radius: 16px;
  padding: 16px;
  position: relative;
}
.container .CardClinic_inner .heart {
  z-index: 2;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 8px;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
}
.container .CardClinic_inner > a {
  text-decoration: none;
}
.container .CardClinic_inner .CardClinic_title {
  text-align: left;
}
.container .CardClinic_inner .CardClinic_title a {
  text-decoration: none;
}
.container .CardClinic_inner .CardClinic_title h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
  color: #023246;
}
.container .CardClinic_inner .CardClinic_title p {
  margin: 16px 0 36px 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #1B6B93;
}
.container .CardClinic_inner .CardClinic_title .CardClinic_subtitle {
  width: 483px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 1px;
  color: #023246;
}
.container .CardClinic_inner .CardClinic_title .CardClinic_subtitle span {
  color: #1B6B93;
  cursor: pointer;
}
.container .CardClinic_inner .CardClinic_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.container .CardClinic_inner .CardClinic_information .CardClinic_information_cards {
  gap: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 351px;
  color: #023246;
}
.container .CardClinic_inner .CardClinic_information .CardClinic_information_cards span, .container .CardClinic_inner .CardClinic_information .CardClinic_information_cards p, .container .CardClinic_inner .CardClinic_information .CardClinic_information_cards a {
  color: #023246;
}
.container .CardClinic_inner .CardClinic_information .CardClinic_information_cardsTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.container .CardClinic_inner .CardClinic_information .information_cards_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.container .CardClinic_inner .CardClinic_information .information_cards_ul li {
  list-style: none;
  text-transform: uppercase;
}
.container .CardClinic_inner .CardClinic_information .information_cards_ul li li:last-child {
  line-height: 23px;
  letter-spacing: 1px;
}
.container .CardClinic_inner .CardClinic_information .information_cards_ul .information_cards_li_strong {
  font-weight: 700;
  color: #023246;
}