.container
  width: 1200px
  margin: 0 auto
  .inner
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    font-family: "Open Sans", sans-serif
    font-weight: 700
    margin-top: 99px
    margin-bottom: 64px
    h2
      color: #023246
      font-family: 'Open Sans', sans-serif
      font-size: 60px
      width: 664px
      margin-bottom: 40px
    .app
      display: flex
      gap: 56px
      a
        cursor: pointer
      img
        width: 256px
    .images
      .android_img
        width: 300px
      .ios_img
        width: 400px
        margin-left: -63px
    .title
      display: flex
      flex-direction: column
      gap: 56px
      p
        color: #1B6B93
        font-size: 24px
      span
        font-size: 16px
        color: #175675
        font-weight: 600
